<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kong2.basket.controller.BasketMapper">


	<resultMap type="basketModel" id="basketRes">
		<result property="basket_num" column="basket_num" />
		<result property="member_num" column="member_num" />
		<result property="SHOWCASE_num" column="SHOWCASE_num" />
		<result property="basket_date" column="basket_date" />
		<result property="subject" column="subject" />
		<result property="file_savname" column="file_savname" />
		<result property="start_date" column="start_date" />
		<result property="end_date" column="end_date" />
		<result property="address2" column="address2" />
		<result property="readcount" column="readcount" />
		<result property="ordercount" column="ordercount" />
		<result property="SHOWCASE_category" column="SHOWCASE_category" />
		<result property="price" column="price"/>
	</resultMap>


	<!-- list 보이기 -->
	<sql id="select-all">
		select bs.BASKET_NUM, bs.MEMBER_NUM, bs.SHOWCASE_NUM, bs.BASKET_DATE,
		sb.SUBJECT, sb.show_status, sb.FILE_SAVNAME, sb.start_date, sb.end_date, sb.ADDRESS2,
		sb.READCOUNT, sb.ORDERCOUNT, sb.SHOWCASE_CATEGORY, sb.PRICE
		from BASKET bs join SHOWCASE sb
		on bs.SHOWCASE_NUM=sb.SHOWCASE_NUM
	</sql>

	<select id="BasketList" resultMap="basketRes" parameterType="int">
		<include refid="select-all"/>
		and bs.member_num=#{member_num}
		and sb.show_status >= 0
		ORDER BY bs.basket_num DESC
	</select>
	
	<!-- 장바구니에 이미 추가된 전시 인지 확인 -->
	<select id="basket_check" resultMap="basketRes" parameterType="basketModel">
		<include refid="select-all"/>
		and bs.member_num=#{member_num}
		and bs.showcase_num=#{showcase_num}
	</select>

	<!-- 장바구니 추가 -->
	<insert id="basketInsert" parameterType="basketModel">
		INSERT INTO
		BASKET(basket_num, member_num, SHOWCASE_num, basket_date)
		VALUES(basket_num_seq.NEXTVAL, #{member_num}, #{showcase}, #{basket_date})
	</insert>

	<!-- 장바구니 삭제 -->
	<delete id="basketDelete" parameterType="basketModel">	<!-- 유진 수정(1028) showcase_num으로도 삭제필요해서 수정했습니다 -->
		DELETE FROM BASKET
		WHERE basket_num=#{basket_num}
		OR showcase_num=#{showcase_num}
	</delete>

	<!-- 장바구니 전체 삭제 -->
	<delete id="basketDelete_all" parameterType="int">
		DELETE FROM BASKET
		WHERE MEMBER_NUM=#{member_num}
	</delete>

</mapper>
